:root {
    --level--1: #181818;
    --level-0: #222222;
    --level-1: #323232;
    --font: #eee;
    --prim: #69a7e1;
}

@font-face {
    font-family: abc;
    src: url(pokemon.ttf);
}

body {
    margin: 4rem 0 0 0;
    background-color: var(--level-0);
    color: var(--font);
    font-family: abc;
    font-size: large;
}

.heading {
    margin: 0;
    text-align: center;
    word-break: break-word;
}

.input {
    padding: 0.5rem;
    background-color: var(--level--1);
    border: 1px solid var(--level-1);
    transition: all ease-in-out 150ms;
    border-radius: 3px;
    margin: 0.5rem 0 2rem 0;
    color: var(--font)
}

.input:hover,
.input:focus {
    border: 1px solid var(--prim);
}

.label {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.button {
    cursor: pointer;
    font-size: large;
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: var(--prim);
    border: none;
    border-radius: 3px;
    font-family: abc;
}

.button:active {
    transform: translateY(3px) translateX(-1px);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}