{{define "error"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/rustymon.css" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <h3 class="heading">{{.}}</h3>
    </div>
</body>
</html>
{{end}}